<!doctype html>
<html>
<head>
    <meta charset="utf-8" />

    <title>Breakfast</title>

    <link href="~/css/header.css" rel="stylesheet" />
    <link href="~/css/cards.css" rel="stylesheet" />

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=DM+Serif+Text:ital@0;1&display=swap" rel="stylesheet">

</head>

<body>
    <div class="container mt-4">
        <a asp-controller="Checkout" asp-action="Index"><button id="view-cart" class="btn btn-dark">View Cart</button></a>
    </div>

    @model IEnumerable<LunaVerde.Models.Menu>

    <div class="container mt-4">
        <div class="row">
            @foreach (var item in Model)
            {
                <div class="col-12 mb-3">
                    <div class="card h-100 flex-row">
                        <img src="@item.ImagePath" class="card-img-left" style="width: 200px; object-fit: cover;" alt="@item.Name">
                        <div class="card-body">
                            <h5 class="card-title">@item.Name</h5>
                            <p class="card-text">@item.Description</p>
                            <p class="card-text"><strong>Price: </strong>@item.Price.ToString("C")</p>
                            <div class="d-flex align-items-center">
                                <button class="btn btn-sm btn-outline-danger decrement" data-id="@item.MenuId">-</button>
                                <span class="mx-2 quantity" data-id="@item.MenuId">0</span>
                                <button class="btn btn-sm btn-outline-success increment" data-id="@item.MenuId">+</button>
                            </div>
                            <form asp-controller="Checkout" asp-action="AddToCart" method="post">
                                <input type="hidden" name="menuId" value="@item.MenuId" />
                                <button type="submit" class="btn btn-dark">Order</button>
                            </form>

                        </div>
                    </div>
                </div>
            }
        </div>
    </div>

</body>
</html>
